// Google fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto:300,400,500&display=swap');

// Global resets
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

.body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

// Custom variables
:root {
  --primary: rgb(47, 128, 237);
  --secondary: rgb(130, 130, 130);

  --very-light-grey: #E0E0E0;

  --text-primary: rgb(51, 51, 51);
  --text-secondary: rgb(130, 130, 130);
  --text-white: rgb(255, 255, 255);
  --text-accent: rgb(42, 170, 97);

  --bg-primary: rgb(241, 241, 241);
  --bg-accent: rgb(47, 128, 237, 5%);

  --star-primary: rgb(242, 201, 76);
  --star-accent: rgb(242, 201, 76, 30%);
}

// Global styles
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

// Components
.btn {
  cursor: pointer;
  outline: none;
}


// Header
.header {
  position: relative;
  padding: 5rem;
  background:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)),
    url('/images/simon-migaj-Yui5vfKHuzs-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  &__item {
    margin-left: 1rem;
  }

  &__link {
    padding: 1rem;
    color: var(--text-white);
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;

  }
}

// Search form
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  position: absolute;
  left: 5rem;
  right: 5rem;
  bottom: 0;
  transform: translateY(50%);
  background-color: var(--text-white);
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);

  &__input {
    flex-grow: 1;
    height: 5rem;
    border: none;
    border-bottom: 1.5px solid var(--primary);
    border: 50%;
    margin: 0 1.5rem 0 0;
    font-size: 1.6rem;
    font-family: inherit;
    outline: none;
  }

  &__input::placeholder {
    color: var(--very-light-grey);
  }

}

.date-picker {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  border: 1px solid var(--very-light-grey);
  border-radius: 3px;
  margin: 0 1.5rem;

  &__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: var(--very-light-grey);
    }
  }

  &__date {
    font-size: 1.6rem;
    height: 100%;
    padding: 0 2rem;
    line-height: 5rem;
  }

  &__icon {
    width: 1.6rem;
    height: auto;
  }
}

// Guest amount
.guest {
  position: relative;
  cursor: pointer;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--very-light-grey);
  border-radius: 3px;
  margin: 0 0 0 1.5rem;
  min-width: 30rem;


  &__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 100%;

    &:first-child::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: var(--very-light-grey);
    }
  }

  &__adult {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -2px;
      width: 3px;
      height: 3px;
      transform: translateX(50%);
      border-radius: 50%;
      background-color: var(--text-primary);
    }
  }


  &__adult,
  &__child {
    display: inline-block;
    font-size: 1.6rem;
    height: 100%;
    line-height: 5rem;
    padding: 0 2rem;
  }

  &__child {
    padding-right: 0;
  }

  &__icon {
    width: 1.6rem;
    height: auto;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 100%;
  background-color: var(--text-white);
  border-radius: 3px;
  border: 1px solid var(--very-light-grey);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);

  // Properties for animation
  transform: scaleY(0);
  opacity: 0;

  &--active {
    transform: scale(1);
    opacity: 1;

    transition: transform, opacity 100ms ease-in;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &:first-child {
      border-bottom: 1px dashed var(--very-light-grey)
    }
  }

  &__key {
    font-size: 1.6rem;
  }

  &__stepper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 1.4rem;
    height: auto;
  }

  &__stepper-value {
    display: block;
    width: 4rem;
    text-align: center;
    font-size: 1.6rem;
  }
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;

  &--guest {
    height: 2.6rem;
    width: 2.6rem;
    background-color: var(--primary);
    border-radius: 50%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.brand-link {
  margin: 0;
  padding: 0;
}

.brand-logo {
  height: 3.6rem;

}